<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>About page</title>
    <link
        rel="icon"
        src="/img/weather.png"
    >
    <link
        rel="stylesheet"
        href="/css/styles.css"
    >

</head>

<body>
    <div class="content">
        {{>header}}

        <p>This site was created by Johan Aspeling, it uses data from <a
                href="https://mapbox.com"
                target="_blank"
            >mapbox.com</a> and <a
                href="https://weatherstack.com"
                target="blank"
            >weatherstack.com</a></p>
        <img
            class="portrait"
            src="/img/robot.jpg"
        >
    </div>

    {{>footer}}
</body>

</html>